#siteFooter{
  background-color: rgba(194, 194, 194, 0.52);
  height: 100px;
}

.navbar{
  border-radius: 0px;
}

.blog{
  margin-left: 40px;
}

.sidenav{
  padding-left: 40px;
  margin-bottom: 30px;
  border-right: 4px solid #8a8a8a;
}
