body{
  background-color: #F5F5F5;
  font-size: 16px;
  font-family: 'Lato', sans-serif;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c2c2c2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c2c2c2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c2c2c2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c2c2c2;
}

.headlineText{
  text-align: center;
  margin: 4rem 0;
  color: #dadada;
  font-size: 5.6rem;
  font-weight: 100;
}

.todos {
  max-width: 500px;
  background: #fff;
  margin: 30px auto;
  padding: 0;
  list-style-type: none;
  box-shadow: 0px 3px 29px 0px rgba(214, 214, 214, 0.67);
  /*0px 3px 29px 0px rgba(214, 214, 214, 0.67)*/
}

.todos__item{
  padding: 0.8em;
  font-size: 2rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  font-weight: 200;
  background-color: #fff;
  /*transform: scale(1);*/
  transition: transform 200ms ease-in;
}

.todos__item--header{
  padding: 1.8em;
}

.todos__item--enter {
  opacity: 0.01;
  transition: opacity 500ms ease-in;

}

.todos__item--enter.todos__item--enterActive {
  opacity: 1;
}

.todos__item--leave {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.todos__item--leave.todos__item--leaveActive {
  opacity: 0.01;
}

/*todos item editing*/
.todos__item.editing{
  border: 0;
  border-left: 5px solid #18bc9c;
  transform: scale(1.05);
  box-shadow: 0px 2px 20px 0px rgba(214, 214, 214, 0.67)
}

.todos__item.editing .formGroup__label, .todos__item.editing .formGroup__label ~ button{
  display: none;
}

.todos__item.editing .formGroup__field--hidden{
  display: block;
}

.date{
  display: flex;
  align-items: center;
}

.date .date__col{
  margin-right: 0.7em;
}

.date .date__col:last-child{
  margin-right: 0px;
}

.date__col:nth-child(2){
  flex: 1;
}

.date__text{
  font-weight: 500;
  font-size: 15px;
  color: #666666;
  text-transform: uppercase;
}

.date__text--light{
  color: #ababab;
}

.date__text--big{
  font-size: 4rem;

}

.flex--col{
  display: flex;
  flex-direction: column;
}


.formGroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.formGroup--footer span, .formGroup--footer .formGroup__link{
  font-size: 15px;
  color: #9a9a9a;
}

.formGroup--footer .formGroup__link:hover{
  text-decoration: none;
  color: #18bc9c;
  cursor: pointer;
}

.formGroup__field{
  outline: 0;
  border: none;
  flex: 1;
  margin-left: 40px;
}

.formGroup__field--hidden{
  display: none;
  margin-left: 40px;
}

.formGroup__checkbox{
  cursor: pointer;
  display: none;
}

.formGroup__checkbox.active + .formGroup__label{
  text-decoration: line-through;
  color: #e3e3e3;
}

.formGroup__label {
  position: relative;
  flex: 1;
  margin-left: 40px;
  margin-bottom: 0;
  font-weight: 200;
  color: #3e3e3e;
  text-decoration: none;
  transition: color 400ms ease-in;
}


/*.formGroup__label.editing ~ button{
  display: none;
}*/

.formGroup__label a{
  color: #3e3e3e;
}

.formGroup__label:before, .formGroup__label:after{
  position: absolute;
  top: 0px;
  left: -40px;
  font-family: FontAwesome;
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
}

.formGroup__label:before{
  content: '\f1db';
  color: #e3e3e3;
  top: -7px;
}

.formGroup__label:after {
  content: '\f111';
  top: 3px;
  left: -34px;
  overflow: hidden;
  color: #18bc9c;
  font-size: 16px;
  -webkit-animation:bounceout .4s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation:bounceout .4s;
  -moz-animation-iteration-count:1;
  -moz-animation-fill-mode:forwards;
  animation:bounceout .4s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}

/*triggering the animation when checked*/
.formGroup__checkbox:checked + .formGroup__label:after {
  -webkit-animation-iteration-count:1
   -moz-animation:bounce .4s;
   -moz-animation-iteration-count:1;
   animation:bounce .4s;
   animation-iteration-count:1;
}

.formGroup__button{
  background: none;
  outline: 0;
  border: none;
  color: #18bc9c;
}

.formGroup__button--warning{
  color: #f26a55;
}

.formGroup__button i{
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.formGroup .formGroup__label:hover ~ .formGroup__button i, .formGroup__button:hover i{
  opacity: 1;
}

.siteFooter{
  margin-top: 5rem;
}

.siteFooter__meta{
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  color: #dadada;
}

.siteFooter__meta a{
  color: #dadada;
  transition: color 400ms ease-in;
}

.siteFooter__meta a:hover{
  color: #18bc9c;
}


.forkTag{
  position: absolute;
  top: 10px;
  right: -10px;
  background: #18bc9c;
  font-size: 1.3rem;
  font-weight: 200;
  color: white;
  padding: 2px 7px;
  transition: all 0.3s ease-in-out;
  transform-origin: top right;
}

.forkTag:hover{
  color: #fff;
  text-decoration: none;
  animation: wiggle 0.4s linear 1;
}

/* animation */
/* @Keyframes for Chrome and Safari */
@-webkit-keyframes bounce {
    0%  { -webkit-transform:scale(.8); opacity:.8}
    25% { -webkit-transform:scale(.25); opacity:.25}
    50% { -webkit-transform:scale(1.4); opacity:1.4}
    75% { -webkit-transform:scale(.8); opacity:.8}
    100%{ -webkit-transform:scale(1); opacity:1}
}
@keyframes bounce {
    0%  { transform:scale(.8); opacity:.8}
    25% { transform:scale(.25); opacity:.25}
    50% { transform:scale(1.4); opacity:1.4}
    75% { transform:scale(.8); opacity:.8}
    100%{ transform:scale(1); opacity:1}
}
@-webkit-keyframes bounceout {
    0%  { -webkit-transform:scale(0)}
    25% { -webkit-transform:scale(.8)}
    50% { -webkit-transform:scale(1.4)}
    75% { -webkit-transform:scale(.25)}
    100%{ -webkit-transform:scale(0)}
}
@keyframes bounceout {
    0%  { transform:scale(0)}
    25% { transform:scale(.8)}
    50% { transform:scale(1.4)}
    75% { transform:scale(.25)}
    100%{ transform:scale(0)}
}


/*wiggle animation*/

@keyframes wiggle{
  0% {
    transform: rotate(0deg);
}
20% {
    transform: rotate(8deg);
}
50% {
    transform: rotate(-8deg);
}
80% {
    transform: rotate(8deg);
}
100% {
    transform: rotate(0deg);
}
}


@media screen and (max-width: 420px)  {
  .row{
    margin: 0 10px;
  }
}
